/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		font-family: 'Ubuntu Condensed', sans-serif;
	}
	
	h1, h2, h3 {
		font-family: 'Love Ya Like A Sister', cursive;
	}
	
	h1, h2, h3, p, ul, ol {
		margin: 10px;
	}

/* HEADER */	
	header {
		background-color: #C77000;
		border-bottom-left-radius: 25px;
	    border-bottom-right-radius: 25px;
	}
	
	#siteTitle {
		letter-spacing: -1px;
	    margin: 0 0.3em 0 0;
	    padding: 0.5em 0;
	    text-shadow: 0 1px 1px #888;
	}
/* END HEADER */

/* MAIN ARTICLE */
article {
	background: #FBFBD5;
}
#main .row {
	background: none repeat scroll 0 0 #FFF;
}
/* MAIN ARTICLE */

/* FOOTER */
	footer {
		color: #FBFBD5;
		background-image: linear-gradient(top, #FBFBD5 37%, #060503 100%);
		background-image: -o-linear-gradient(top, #FBFBD5 37%, #060503 100%);
		background-image: -moz-linear-gradient(top, #FBFBD5 37%, #060503 100%);
		background-image: -webkit-linear-gradient(top, #FBFBD5 37%, #060503 100%);
		background-image: -ms-linear-gradient(top, #FBFBD5 37%, #060503 100%);
		
		background-image: -webkit-gradient(
			linear,
			right top,
			right bottom,
			color-stop(0.37, #FBFBD5),
			color-stop(1, #060503)
		);
	}
	
	#social {
		background: none repeat scroll 0 0 #FBFBD5;
	    border-bottom-left-radius: 25px;
	    border-bottom-right-radius: 25px;
	    padding: 10px 0;
	}

	#social section {
		text-align: center;
	}
/* END  FOOTER */





	/*article .eightcol, article .fourcol {
		background-color: #ADA99F;
		color: #4D4C48;
		border-radius: 5px;
	}
	
	footer .twelvecol {
		background-color: #739541;
		color: #EEE9E3;
		border-radius: 5px;
	}*/

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}
	
	column-count: 2;
    column-rule: 1em solid black;

	
	

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}